<div class="md:flex gap-4 overflow-x-auto no-scrollbar">
  <div
    *ngFor="let item of data"
    class="flex justify-between max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 min-w-[400px]"
  >
    <div class="flex flex-col justify-between">
      <div>
        <p class="text-lg tracking-tight font-bold text-gray-500 dark:text-white">
          {{ item.dinas }}
        </p>
        <p class="tracking-tight text-gray-500 dark:text-white">Spend over Allocation</p>
      </div>
      <div>
        <p class="tracking-tight text-gray-500 dark:text-white">
          Rp. {{ item.spend | number:'1.0-0' }} /
        </p>
        <p class="font-bold tracking-tight text-gray-500 dark:text-white">
          Rp. {{ item.total | number:'1.0-0' }}
        </p>
      </div>
    </div>
    <div id="donut-chart-{{ item.dinas }}"></div>
  </div>
</div>
